body {
  font-size: 16px;
  color: #000000;
  background-color: #ffffff;
  font-family: 'Oxygen', sans-serif;
  text-align: center;
}

/** HEADER **/
#header-nav {
  background-color: #dbdbdb;
  border-radius: 0;
  border: 0;
}

h1 { /* Restaurant name */
  color: #000000;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
}

#nav-list a {
  color: #636363;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#b1 {
  background-color: #f54242;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 35px;
  width: 120px;
  padding: 5px;
  text-align: center;
}

#b2 {
  background-color: #f5e042;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 35px;
  width: 120px;
  padding: 5px;
  text-align: center;
}

#b3 {
  background-color: #5442f5;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 35px;
  width: 120px;
  padding: 5px;
  text-align: center;
}

/* END HEADER */
